# python class2(16-10-22)

imp tips :
# practice is the key
# find solution for yourself
#learn deeply
# don't run too fast

In [1]:
employee = []

In [2]:
#how to add employee in list 
employee.append('radha')

In [3]:
employee

['radha']

In [4]:
employee.append('shankar')
employee.append('krishna')

In [5]:
employee

['radha', 'shankar', 'krishna']

# index or insert :
employee =       ['radha','suresh','chaman','shyam', 'yusuf']
index =          [ 0      , 1      ,  2     ,   3   ,   4   ]
index reverse=   [ -5         -4         -3     -2    -1    ]

In [11]:
#to add any employee on index
employee[1] = 'swati'
#in this way person will replace with another person

In [12]:
employee

['radha', 'swati', 'sushma', 'krishna']

In [13]:
#another wway of inserting an employee in list
employee.insert(2,'sushma')
#in this way list will move forward

In [10]:
employee

['radha', 'swati', 'sushma', 'krishna']

In [14]:
emp_salary = [12000,13000,14000,15000,16000]

In [15]:
emp_salary.insert(0,55000)

In [16]:
emp_salary

[55000, 12000, 13000, 14000, 15000, 16000]

In [19]:
emp_salary(0) = 45000

SyntaxError: cannot assign to function call (3500507281.py, line 1)

# attribute = all method , or the method we can use for change in any list ,tuple or any data structure is known as attribute.

In [21]:
# we can call all method or attribute by simply click after tab writing list_name
#employee.tab

In [22]:
#to get information on any list
employee[1]

'swati'

In [23]:
employee[0]

'radha'

In [24]:
employee

['radha', 'swati', 'sushma', 'sushma', 'krishna']

In [26]:
#to know the length of any list
len(employee)     #len stand for length

5

In [28]:
#update anything on list
employee[1]= 'rajesh'

In [29]:
employee #swati got replaced with rajesh

['radha', 'rajesh', 'sushma', 'sushma', 'krishna']

In [30]:
#grabbing data for list

[55000, 12000, 13000, 14000, 15000, 16000]

In [31]:
emp_salary[0:]      #it will provide us data of o index to the last index in our list

[55000, 12000, 13000, 14000, 15000, 16000]

In [32]:
emp_salary[1:4]   #it will provide us data of 1st index but in the end it will not give us data of 4th index rather it will give data of 3rd index

[12000, 13000, 14000]

In [33]:
emp_salary[:4]     #starting from 0 index
                   #ending on 3rd index

[55000, 12000, 13000, 14000]

In [36]:
emp_salary +[25000 ]     #this will not change the actual list
                         #it brings out a temporary change

[55000, 12000, 13000, 14000, 15000, 16000, 25000]

In [37]:
emp_salary = emp_salary + [25000]     #it will change permanent and add 25000 in the end of list

In [38]:
emp_salary

[55000, 12000, 13000, 14000, 15000, 16000, 25000]

In [39]:
#to make the list double 
emp_salary * 2

[55000,
 12000,
 13000,
 14000,
 15000,
 16000,
 25000,
 55000,
 12000,
 13000,
 14000,
 15000,
 16000,
 25000]

In [40]:
emp_salary    #that too bring a temp. change

[55000, 12000, 13000, 14000, 15000, 16000, 25000]

In [41]:
emp_salary = emp_salary * 2     #for permanent change

In [42]:
emp_salary

[55000,
 12000,
 13000,
 14000,
 15000,
 16000,
 25000,
 55000,
 12000,
 13000,
 14000,
 15000,
 16000,
 25000]

In [43]:
 marks = [11,34,34,55,66,77,100,43,34,56,66,100,65,33,77]

In [44]:
#how to check occurance of any particular data 
#listname.count(100)
marks.count(100)

2

In [45]:
marks.count(34)

3

In [46]:
#for checking the index
marks.index(100)    #it will check only first occurance thats the limitation in python another occurance we will check in numpy

6

In [48]:
marks.index(34)

1

#  extend method

if we want to add two or more employee in the list together 
to add anu and aashima in the list at same time we need extend method

In [49]:
employee.append(['anu' , 'ashima'])

In [50]:
employee  #close bracket is coming in the list here

['radha', 'rajesh', 'sushma', 'sushma', 'krishna', ['anu', 'ashima']]

In [51]:
#method to add employee effectively
employee.extend(['anu' , 'sushima'])

In [52]:
employee

['radha',
 'rajesh',
 'sushma',
 'sushma',
 'krishna',
 ['anu', 'ashima'],
 'anu',
 'sushima']

# pop method:
                       used to eliminate an item

In [53]:
students = [ 'raj','sushma','shyama','rakhi','uday']

In [54]:
#pop_last = listname.pop()

In [56]:
pop_last = students.pop()    #this will eliminate last student
pop_last    #this pop_last will show the last student name it's only work is to show student name here

'uday'

In [58]:
#now 
students    #as we can see uday is removed from list

['raj', 'sushma', 'shyama', 'rakhi']

In [59]:
#delete based on index
pop_index = students.pop(1)    #to eliminate the students on index 1

In [60]:
students     #sushma is now eliminated

['raj', 'shyama', 'rakhi']

In [61]:
students.extend(['anu', 'swati'])

In [62]:
students

['raj', 'shyama', 'rakhi', 'anu', 'swati']

In [64]:
 pop_name = pop.students(0)      #we must have to use pop_index and pop_last to eliminate

NameError: name 'pop' is not defined

# remove data:

In [65]:
roll_no = [11,23,44,67,55,43,]

In [66]:
#list name .remove(roll_n0)
roll_no.remove(44)

In [67]:
roll_no  #44 has been removed now
  #if there are duplicates item only first one will get removed

[11, 23, 67, 55, 43]

In [68]:
roll_no.extend( [11,55,43])

In [69]:
roll_no

[11, 23, 67, 55, 43, 11, 55, 43]

In [70]:
roll_no.remove(43)

In [71]:
roll_no    #here first 43 got removed

[11, 23, 67, 55, 11, 55, 43]

# reverse method

In [72]:
list = [ 1,2,3,4,5,6,7,8,]

In [73]:
list.reverse()

In [74]:
list

[8, 7, 6, 5, 4, 3, 2, 1]

# sort

In [75]:
numbers =[ 23,33,55,7,45,23,676,23,76,87,]

In [76]:
numbers.sort()   #it will sort the list in ascending order only

In [77]:
numbers

[7, 23, 23, 23, 33, 45, 55, 76, 87, 676]

In [78]:
#how to sort list in descending order 
numbers.sort(reverse = True)

In [79]:
numbers

[676, 87, 76, 55, 45, 33, 23, 23, 23, 7]

# tuples

tuple = tuple are not mutable(editable)
list = list is mutable(editabe)
tuples are in the round bracket()

In [80]:
work_location = ('bengaluru' ,'noida' , 'bhiwani' , 'fatehbad' , 'sirsa')

In [82]:
#let's try to edit tuple       #it is showing error because tuple can not be edit
work_location.append('gujrat')

AttributeError: 'tuple' object has no attribute 'append'

In [83]:
 # to edit tuple we must change it into list 
# attribute are those words which are used after the dot (sort,append ,extend etc)
work_location = list(work_location)   #here list is not callable because we have used it earlier as a variable

TypeError: 'list' object is not callable